.grid-textarea-component {
  padding: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.grid-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

label {
  margin-right: 8px;
}

textarea {
  flex: 1;
  height: 15rem;
}
